<div class="form-group">   
      <!-- <div *ngFor="let game of data">
        <label>Game Title</label>
         <p>{{game.Name}}<p>
          <label>Year</label>
          <p>{{game.FirstReleaseDate}}<p>
           <label>Average Rating</label>
           <p>{{game.TotalRating}}<p></p>
      </div> -->
 <ag-grid-angular
    style="width: 100%; height: 400px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize] = 10
    [paginationAutoPageSize] = "true">
</ag-grid-angular>
</div> 
